body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #000000;
  /* background-image: url("../images/papyrus.png"); */
}

h2 {
  font-family: 'Playfair', serif;
  font-size: 3em;
}

h2.aboutme{
  background-color: #fff;
  color:#3B647F;
}

.projectType {
  background-color: #fff;
  color:#3B647F;
}

p.bio{
    color: rgba(0,0,0,.8);
}

.main {
  padding-top: 3%;
}

.row{
  padding: 2% 0%;
}
.blue {
  background-color:#5388C9;
}

header.mainnavbar{
  padding: 1% 0%;
  display: block;
}
p.copyright{
  text-align: center;
  color: #666;
  font-size: 1em;
}
.navi {
  display: flex;
  height: 100%;
  align-items: center;
}

.navi a {
  font-family: 'Roboto', sans-serif;
  color:rgba(0,0,0,.6);
  text-decoration: none;
  font-size: 1.2em;
  padding: 2px 10px 12px 10px;
  margin-right:2%;
}
.navi a:hover{
  text-decoration-color: #fff;
  color:#3B647F;
  text-decoration: none !important;
}

.currentNav {
  text-decoration-color: #fff !important;
  color:#3B647F !important;
  border-bottom: 2px solid #3B647F!important;
}
.interactBold:hover {
  background-color: #fff;
  color:#3B647F;
}

#projectSort {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.projectLinks {
  text-decoration: none;
  margin: 2%;
  color:rgba(0,0,0,.6);
}
.projectLinks:hover {
  color:#3B647F;
  animation-name: colourHover;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes colourHover {
  0%   {left:0px; top:0px;}
  25%  {left:200px; top:0px;}
  50%  {font-size: 110%; left:200px; top:200px;}
  75%  {left:0px; top:200px;}
  100% {font-size: 100%; left:0px; top:0px;}
}

#tagline {
  background-color: red;
  animation-name: colourChanger;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

@keyframes colourChanger {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:pink; left:200px; top:0px;}
  50%  {background-color:yellow; left:200px; top:200px;}
  75%  {background-color:pink; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

img{
  max-width: 100%;
}

img:hover{
  opacity:0.8;
}
img.avatar:hover{
  opacity: 1;
}

.backButton{
  text-align: left;
}

.backButton a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 2px 10px 0 10px;
  margin: 0;
}

.noteDesc {
  font-size: 1em;
}

.backnavi{
  text-align: right;
}

.backnavi a {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 2px 10px 0 10px;
  margin: 0;
}
.inTextLink {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-decoration: none;
}

.inTextLink:hover {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  background-color: #fff;

}
.intro {
  font-family: 'Playfair', serif;
  color: #3B647F;
}

#homeimg {
  height: 6%;
  width: 6%;
  margin-left: auto;
}

#homeimg:hover{
  opacity: 1;
}

@media screen and (min-width: 951px) and (max-width: 1250px) {
 #homeimg{
   height: 7%;
   width: 7%;
 }
}

@media screen and (min-width: 651px) and (max-width: 950px) {
 #homeimg{
   height: 10%;
   width: 10%;
 }
}

 @media screen and (min-width: 360px) and (max-width: 650px) {
  #homeimg{
    height: 0;
    width: 0;
  }
}
